* {
    font-family: Lucida Console, Monaco, monospace;
    
}
body{
    background-color: #19b1a9;
}

.image-title-page {
    width: auto;
    height: 300px;
    padding-left: 10px;
    display: inline-block;
}

#welcome{
    display: inline-block;
    vertical-align: bottom;
    width: 440px;
    padding-left: 35px;
}
.container  {
    margin: 30em;
    border-color: #b11921;
    border-style: solid;
    background-color: #ffffff;
    width: 1000px;
    display: inline-block;
}

.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
}

.description {
    line-height: 1.3;
    font-size: large;
    
}

.ingredients-list {
    font-size: large;
    list-style: none;

}

.directions-list {
    font-size: large;

}

#food-classes {
    font-size: large;
    /*display: inline-block;*/
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}